In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [2]:
for i in range(1001,1032):
    temp = pd.read_csv('../bus_data/arriv_records/arriv_record_train2017{}.csv'.format(str(i)),usecols=['O_LINENO','O_TERMINALNO','O_TIME','O_LONGITUDE','O_LATITUDE','O_UP','O_NEXTSTATIONNO'])
    temp = temp[(temp.O_LINENO == 47) & (temp.O_UP == 1)]
    df = df.append(temp,ignore_index=True)
del temp
df

,O_LINENO,O_TERMINALNO,O_TIME,O_LONGITUDE,O_LATITUDE,O_UP,O_NEXTSTATIONNO
0,47,962345,09:41:00,117.136,39.1764,1,2
1,47,962345,14:45:16,117.136,39.1765,1,2
2,47,962353,14:58:36,0.000,0.0000,1,2
3,47,962353,15:04:35,117.142,39.1494,1,10
4,47,962353,15:06:34,0.000,0.0000,1,11
5,47,904340,12:59:49,117.136,39.1767,1,52
6,47,962342,16:55:30,0.000,0.0000,1,6
7,47,962342,16:56:50,117.151,39.1737,1,7
8,47,962342,17:00:09,117.147,39.1682,1,8
9,47,962345,14:08:41,0.000,0.0000,1,2
10,47,962345,14:09:22,0.000,0.0000,1,3
11,47,962345,14:10:32,0.000,0.0000,1,4
12,47,962352,07:34:34,117.136,39.1766,1,42
13,47,962353,14:50:18,0.000,0.0000,1,2
14,47,962353,16:51:08,117.136,39.1767,1,2
15,47,962345,12:58:53,117.135,39.1772,1,2
16,47,962345,13:00:31,117.134,39.1807,1,3
17,47,901617,20:12:01,0.000,0.0000,1,6
18,47,901617,20:13:11,0.000,0.0000,1,7
19,47,901617,20:17:00,0.000,0.0000,1,8
20,47,901617,20:18:50,0.000,0.0000,1,9
21,47,901617,20:22:20,0.000,0.0000,1,10
22,47,962342,11:38:05,117.141,39.1832,1,4
23,47,962342,11:41:31,117.147,39.1793,1,5
24,47,962342,11:43:04,117.151,39.1769,1,6
25,47,962342,11:44:25,117.154,39.1735,1,7
26,47,962342,11:45:53,117.149,39.1677,1,8
27,47,962342,11:49:11,117.145,39.1600,1,9
28,47,962342,11:52:24,117.145,39.1499,1,10
29,47,962342,11:54:26,117.144,39.1468,1,11
...,...,...,...,...,...,...,...
146,47,962346,21:02:42,0.000,0.0000,1,52
147,47,962342,12:50:19,117.135,39.1767,1,52
148,47,962347,13:49:54,117.132,39.1776,1,2
149,47,962347,13:50:45,117.134,39.1813,1,3
150,47,962347,16:11:23,117.132,39.1784,1,2
151,47,963829,12:27:31,117.136,39.1764,1,2
152,47,963839,10:45:05,117.136,39.1763,1,2
153,47,962351,10:11:21,117.131,39.1780,1,2
154,47,963839,10:21:14,117.136,39.1766,1,3
155,47,962351,10:10:52,117.138,39.1803,1,2
156,47,962351,10:11:42,117.141,39.1828,1,3
157,47,962351,10:42:27,117.141,39.1162,1,15
158,47,962338,20:00:10,0.000,0.0000,1,21
159,47,962338,20:00:30,0.000,0.0000,1,22
160,47,962347,17:13:32,117.134,39.1800,1,2
161,47,962351,13:00:03,0.000,0.0000,1,3
162,47,962347,13:47:38,0.000,0.0000,1,2
163,47,962347,13:50:58,0.000,0.0000,1,3
164,47,962347,13:52:28,117.203,39.1715,1,4
165,47,962347,15:00:03,0.000,0.0000,1,31
166,47,962347,15:02:23,0.000,0.0000,1,32
167,47,962347,15:04:03,0.000,0.0000,1,33
168,47,962347,15:09:33,0.000,0.0000,1,35
169,47,963835,17:00:03,117.136,39.1762,1,2
170,47,962358,15:33:39,117.134,39.1803,1,3
171,47,962358,15:35:05,117.137,39.1813,1,4
172,47,962358,15:37:51,117.144,39.1771,1,5
173,47,962358,15:39:06,117.149,39.1745,1,6
174,47,962358,15:40:21,117.151,39.1719,1,7
175,47,962358,15:43:28,117.147,39.1663,1,8

In [6]:
df[df.O_NEXTSTATIONNO == 42]

,O_LINENO,O_TERMINALNO,O_TIME,O_LONGITUDE,O_LATITUDE,O_UP,O_NEXTSTATIONNO
12,47,962352,07:34:34,117.136,39.1766,1,42
74,47,963852,10:13:23,117.136,39.1770,1,42
75,47,962346,10:38:08,117.136,39.1766,1,42
136,47,962346,20:34:22,118.162,38.8991,1,42

In [4]:
df.to_csv('../bus_data/to_API/47_1.csv',index=False)

,O_LINENO,O_TERMINALNO,O_TIME,O_LONGITUDE,O_LATITUDE,O_UP,O_NEXTSTATIONNO
59816,47,962345,09:41:00,117.136,39.1764,1,2
59902,47,962345,14:45:16,117.136,39.1765,1,2

In [ ]:
temp