In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
# -*- coding: UTF-8 -*-
import pandas as pd
import numpy as np

In [3]:
df_train = pd.read_csv('../bus_data/stationmap/train_amap_correct.csv',usecols=[ 'O_LINENO','O_UP','STATION','longitude_amap','latitude_amap' ] )
df_train.head()

   O_LINENO  O_UP  STATION  longitude_amap  latitude_amap
0         1     0        1      117.204307      39.128437
1         1     0        2      117.205306      39.126834
2         1     0        3      117.201312      39.123439
3         1     0        4      117.198317      39.121743
4         1     0        5      117.193325      39.123953

In [4]:
df_train = df_train.astype( {'O_LINENO':'object', 'O_UP':'object', 'STATION':'object'} )
df_train['station_id_train'] = df_train['O_LINENO'].map(str)+'_'+df_train['O_UP'].map(str)+'_'+df_train['STATION'].map(str)
df_train.head()

  O_LINENO O_UP STATION  longitude_amap  latitude_amap station_id_train
0        1    0       1      117.204307      39.128437            1_0_1
1        1    0       2      117.205306      39.126834            1_0_2
2        1    0       3      117.201312      39.123439            1_0_3
3        1    0       4      117.198317      39.121743            1_0_4
4        1    0       5      117.193325      39.123953            1_0_5

In [5]:
df_train = df_train[ ['station_id_train','longitude_amap','latitude_amap'] ]
df_train.head()

  station_id_train  longitude_amap  latitude_amap
0            1_0_1      117.204307      39.128437
1            1_0_2      117.205306      39.126834
2            1_0_3      117.201312      39.123439
3            1_0_4      117.198317      39.121743
4            1_0_5      117.193325      39.123953

In [6]:
df_real = pd.read_csv('../bus_data/stationmap/location_corrected.csv',usecols=[ 'station_id','longitude','latitude' ])
df_real

      station_id   longitude   latitude
0              0  117.337807  39.709927
1              1  117.010269  39.416382
2              2  117.252777  39.133121
3              3  117.554939  38.927555
4              4  117.654144  39.044552
5              5  117.362724  39.689865
6              6  116.999702  39.217419
7              7  116.999611  39.223274
8              8  116.999649  39.221779
9              9  117.655975  39.017632
10            10  117.186646  39.165951
11            11  117.136047  39.145187
12            12  117.069290  39.233574
13            13  117.418961  40.039059
14            14  117.424843  38.871178
15            15  117.663864  38.993320
16            16  116.930908  39.308361
17            17  116.958267  39.312737
18            18  116.930908  39.308361
19            19  117.394356  38.670040
20            20  117.218575  39.098717
21            21  117.220016  39.097752
22            22  117.249550  39.146576
23            23  117.643242  39.455292
24            24  116.997688  39.319023
25            25  117.235428  38.993500
26            26  117.157745  39.113945
27            27  117.188660  39.120312
28            28  117.713768  39.051575
29            29  117.223724  39.074368
...          ...         ...        ...
6029        6029  112.536469  37.922756
6030        6030  116.239403  40.060726
6031        6031  116.832458  38.875572
6032        6032  117.652069  39.467297
6033        6033  117.249886  39.170387
6034        6034  117.407166  39.253456
6035        6035  117.248566  39.954449
6036        6036  117.110329  39.153313
6037        6037  117.235802  38.794861
6038        6038  117.132523  39.197834
6039        6039  117.454544  39.282444
6040        6040  117.407872  39.292724
6041        6041  117.437706  39.282700
6042        6042  117.451912  39.282478
6043        6043  117.431793  39.282909
6044        6044  117.310730  39.091541
6045        6045  117.310730  39.091541
6046        6046  117.402817  39.932892
6047        6047  116.887917  39.192200
6048        6048  117.811913  38.999084
6049        6049  117.252625  39.091072
6050        6050  116.984329  39.098854
6051        6051  117.545265  39.002903
6052        6052  117.728271  38.982819
6053        6053  117.463348  38.844570
6054        6054  117.203323  39.096134
6055        6055  117.513802  38.691814
6056        6056  117.693420  38.974426
6057        6057  116.922920  38.929836
6058        6058  117.809563  39.278263

[6059 rows x 3 columns]

In [7]:
df_real.rename({'station_id':'station_id_real'},axis=1,inplace=True)
df_real

      station_id_real   longitude   latitude
0                   0  117.337807  39.709927
1                   1  117.010269  39.416382
2                   2  117.252777  39.133121
3                   3  117.554939  38.927555
4                   4  117.654144  39.044552
5                   5  117.362724  39.689865
6                   6  116.999702  39.217419
7                   7  116.999611  39.223274
8                   8  116.999649  39.221779
9                   9  117.655975  39.017632
10                 10  117.186646  39.165951
11                 11  117.136047  39.145187
12                 12  117.069290  39.233574
13                 13  117.418961  40.039059
14                 14  117.424843  38.871178
15                 15  117.663864  38.993320
16                 16  116.930908  39.308361
17                 17  116.958267  39.312737
18                 18  116.930908  39.308361
19                 19  117.394356  38.670040
20                 20  117.218575  39.098717
21                 21  117.220016  39.097752
22                 22  117.249550  39.146576
23                 23  117.643242  39.455292
24                 24  116.997688  39.319023
25                 25  117.235428  38.993500
26                 26  117.157745  39.113945
27                 27  117.188660  39.120312
28                 28  117.713768  39.051575
29                 29  117.223724  39.074368
...               ...         ...        ...
6029             6029  112.536469  37.922756
6030             6030  116.239403  40.060726
6031             6031  116.832458  38.875572
6032             6032  117.652069  39.467297
6033             6033  117.249886  39.170387
6034             6034  117.407166  39.253456
6035             6035  117.248566  39.954449
6036             6036  117.110329  39.153313
6037             6037  117.235802  38.794861
6038             6038  117.132523  39.197834
6039             6039  117.454544  39.282444
6040             6040  117.407872  39.292724
6041             6041  117.437706  39.282700
6042             6042  117.451912  39.282478
6043             6043  117.431793  39.282909
6044             6044  117.310730  39.091541
6045             6045  117.310730  39.091541
6046             6046  117.402817  39.932892
6047             6047  116.887917  39.192200
6048             6048  117.811913  38.999084
6049             6049  117.252625  39.091072
6050             6050  116.984329  39.098854
6051             6051  117.545265  39.002903
6052             6052  117.728271  38.982819
6053             6053  117.463348  38.844570
6054             6054  117.203323  39.096134
6055             6055  117.513802  38.691814
6056             6056  117.693420  38.974426
6057             6057  116.922920  38.929836
6058             6058  117.809563  39.278263

[6059 rows x 3 columns]

In [8]:
df_train['key']=0
df_real['key']=0

In [ ]:
df_merge = pd.merge(df_train,df_real,how='outer',on=['key'])

In [ ]:
df_merge['DISTANCE'] = (df_merge['longitude_amap']-df_merge['longitude'])**2+(df_merge['latitude_amap']-df['latitude'])

In [ ]:
grouper = df_merge.groupby(by=[ 'station_id_train' ])

In [ ]:
group

In [11]:
df_test = pd.DataFrame(np.arange(20).reshape(4,5))
df_test.columns = list('abcde')

In [13]:
display( (df_test['a']-df_test['b'])**2 )

0    1
1    1
2    1
3    1
dtype: int64